<!-- begin .section-education -->
<div class="section section-education row">
  <h3 class="css3-gradient-2"><i class="icon-book"></i>Education</h3>

  <div class="section-education-list row-fluid">
    <div class="span6 education-item">
      <h4><i class="icon-circle-arrow-right"></i>Bolton University <small>1999 &mdash; 2004</small></h4>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>

    <div class="span6 education-item">
      <h4><i class="icon-circle-arrow-right"></i>Salford University <small>1993 &mdash; 1997</small></h4>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>
  </div>


</div>
<!-- end .section-education -->