<!-- begin .section-work -->
<div class="section section-work section-first row">
  <h3 class="css3-gradient-2"><i class="icon-briefcase"></i>Experience</h3>

  <div class="section-work-list row-fluid">
    <div class="span6 work-item">
      <h4><i class="icon-wrench"></i>Software Architect <small>2011 &mdash; Present</small></h4>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>

    <div class="span6 work-item">
      <h4><i class="icon-cut"></i>Software Development Team Leader <small>2005 &mdash; 2011</small></h4>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>
  </div>

  <div class="section-work-list row-fluid">
    <div class="span6 work-item">
      <h4><i class="icon-github"></i>Software Developer <small>2001 &mdash; 2005</small></h4>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>

    <div class="span6 work-item">
      <h4><i class="icon-question-sign"></i>Software Support <small>1997 &mdash; 2001</small></h4>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>
  </div>
</div>
<!-- end .section-work -->