<!--i class="icon-camera-retro" -->
<!--i class="icon-cogs"></i-->
<!--i class="icon-book"-->
<!--i class="icon-tint"-->


<% if @skills.present? %>
    <% @skills.each do |skill| %>
        <!-- begin .skill-item -->
        <div class="skill-item row-fluid">
          <div class="span12 skill-bar">
            <div class="progress">
              <div class="bar bar-danger" style="width: <%= skill.skill_level %>%;"><i class="icon-tint"></i><%= skill.skill_name %></div>
            </div>
          </div>
        </div>
        <!-- end .skill-item -->
    <% end %>
<% end %>
