<!-- begin .vcard-bio -->
<div class="vcard-bio">
  <h2 class="vcard-name">Matt Preston</h2>

  <hr/>

  <p>I am a software architect passionate about agile development languages, tools and methodologies. I will bring an un paralleled enthusiasm and drive to your organisation. I am a BDD proponent with real world experience in delivering enterprise systems.  </p>

  <hr/>

  <%= render :partial => 'home/skills' %>

  <hr/>

  <!-- begin info -->
  <span class="vcard-info"><i class="icon-home"></i>Bolton, ENGLAND</span><br/>
  <span class="vcard-info"><i class="icon-signal"></i>07920070473</span><br/>
  <span class="vcard-info"><i class="icon-globe"></i><a href="#">http://matt-preston.com/</a></span><br/>
  <span class="vcard-info"><i class="icon-envelope"></i><a href="mailto:matt.james.preston@googlemail.com">Matt.James.Preston@googlemail.com</a></span>
  <!-- end info -->

</div>
<!-- end .vcard-bio -->