<!-- begin .vcard-bio -->
<div class="vcard-bio">

  <% if @resumes.first.present? %>
    <h2 class="vcard-name"><%= @resumes.first.name %></h2>
    <hr/>
    <p><%= @resumes.first.objective %></p>
    <hr/>

  <% end %>



  <%= render :partial => 'home/skills' %>

  <hr/>

  <!-- begin info -->
  <span class="vcard-info"><i class="icon-home"></i>Bolton, ENGLAND</span><br/>
  <span class="vcard-info"><i class="icon-signal"></i>07920070473</span><br/>
  <span class="vcard-info"><i class="icon-globe"></i><a href="#">http://matt-preston.com/</a></span><br/>
  <span class="vcard-info"><i class="icon-envelope"></i><a href="mailto:matt.james.preston@googlemail.com">Matt.James.Preston@googlemail.com</a></span>
  <!-- end info -->

</div>
<!-- end .vcard-bio -->