<!-- begin .vcard -->
	<div class="span4 vcard">
		<div class="vcard-wrap">
		<!-- begin .vcard-photo -->
		<div class="vcard-photo">
			<img src="assets/matt_avatar.jpg"/>
		</div>
		<!-- end .vcard-photo -->

		<!-- begin .vcard-bio -->
		<div class="vcard-bio">
			<h2 class="vcard-name">Matt Preston</h2>

			<hr/>

			<p>I am a software architect passionate about agile development languages, tools and methodologies. I will bring an un paralleled enthusiasm and drive to your organisation. I am a BDD proponent with real world experience in delivering enterprise systems.  </p>

			<hr/>

			<!-- begin .skill-item -->
				<div class="skill-item row-fluid">
					<div class="span12 skill-bar">
						<div class="progress">
							<div class="bar bar-danger" style="width: 100%;"><i class="icon-tint"></i>Ruby</div>
						</div>
					</div>
				</div>
			<!-- end .skill-item -->

          <!-- begin .skill-item -->
                <div class="skill-item row-fluid">
                    <div class="span12 skill-bar">
                        <div class="progress">
                            <div class="bar  bar-success" style="width: 100%;"><i class="icon-cogs"></i>Java</div>
                        </div>
                    </div>
                </div>
          <!-- end .skill-item -->

          <!-- begin .skill-item -->
                <div class="skill-item row-fluid">
                    <div class="span12 skill-bar">
                        <div class="progress">
                            <div class="bar  bar-success" style="width: 100%;"><i class="icon-cogs"></i>C#</div>
                        </div>
                    </div>
                </div>
          <!-- end .skill-item -->


			<!-- begin .skill-item -->
				<div class="skill-item row-fluid">
					<div class="span12 skill-bar">
						<div class="progress">
							<div class="bar  bar-warning" style="width: 90%;"><i class="icon-camera-retro"></i>Objective C</div>
						</div>
					</div>
				</div>
			<!-- end .skill-item -->

			<!-- begin .skill-item -->
				<div class="skill-item row-fluid">
					<div class="span12 skill-bar">
						<div class="progress">
							<div class="bar  bar-success" style="width: 70%;"><i class="icon-cogs"></i>Android</div>
						</div>
					</div>
				</div>
			<!-- end .skill-item -->

			<!-- begin .skill-item -->
				<div class="skill-item row-fluid">
					<div class="span12 skill-bar">
						<div class="progress">
							<div class="bar " style="width: 60%;"><i class="icon-book"></i>Java Script</div>
						</div>
					</div>
				</div>
			<!-- end .skill-item -->

			<hr/>

			<!-- begin info -->
			<span class="vcard-info"><i class="icon-home"></i>Bolton, ENGLAND</span><br/>
			<span class="vcard-info"><i class="icon-signal"></i>07920070473</span><br/>
			<span class="vcard-info"><i class="icon-globe"></i><a href="#">http://matt-preston.com/</a></span><br/>
			<span class="vcard-info"><i class="icon-envelope"></i><a href="mailto:matt.james.preston@googlemail.com">Matt.James.Preston@googlemail.com</a></span>
			<!-- end info -->

		</div>
		<!-- end .vcard-bio -->
		</div>
	</div>

<!-- end .vcard -->
<!-- begin .main-wrap -->
	<div class="span8 main-wrap">

		<!-- begin .section-work -->
		<div class="section section-work section-first row">
			<h3 class="css3-gradient-2"><i class="icon-briefcase"></i>Experience</h3>

				<div class="section-work-list row-fluid">
					<div class="span6 work-item">
					<h4><i class="icon-wrench"></i>Software Architect <small>2011 &mdash; Present</small></h4>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>

					<div class="span6 work-item">
					<h4><i class="icon-cut"></i>Software Development Team Leader <small>2005 &mdash; 2011</small></h4>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>
				</div>

				<div class="section-work-list row-fluid">
					<div class="span6 work-item">
					<h4><i class="icon-github"></i>Software Developer <small>2001 &mdash; 2005</small></h4>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>

					<div class="span6 work-item">
					<h4><i class="icon-question-sign"></i>Software Support <small>1997 &mdash; 2001</small></h4>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>
				</div>
		</div>
		<!-- end .section-work -->

        <!-- begin .section-education -->
        <div class="section section-education row">
            <h3 class="css3-gradient-2"><i class="icon-book"></i>Education</h3>

                <div class="section-education-list row-fluid">
                    <div class="span6 education-item">
                    <h4><i class="icon-circle-arrow-right"></i>Bolton University <small>1999 &mdash; 2004</small></h4>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>

                    <div class="span6 education-item">
                    <h4><i class="icon-circle-arrow-right"></i>Salford University <small>1993 &mdash; 1997</small></h4>
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</div>
                </div>


        </div>
  		<!-- end .section-education -->
        <!-- begin .section-blog -->
        <div class="section section-blog section-last row">
            <h3 class="css3-gradient-2"><i class="icon-paper-clip"></i>Latest from my blog</h3>

            <!-- begin .blog-item -->
                <div class="section-blog-item row-fluid">
                    <div class="blog-item-thumbnail span4">
                        <div class="blog-item-thumbnail-wrap">
                            <a href="#" title="title goes here"><img src="assets/asset.png" alt="alt goes here"/></a>
                        </div>
                    </div>
                    <div class="blog-item-excerpt span8">
                        <h4><a href="#" title="title goes here">My latest thoughts.</a></h4>
                        <div class="blog-item-meta"><span><i class="icon-calendar"></i><small>2012-09-20</small></span><span><i class="icon-comments"></i><small><a href="#">0 comments</a></small></span></div>
                        <p>Quis, sed scelerisque aliquam in, vut in in, hac lundium, elementum aenean! Magnis! Turpis ridiculus cum pellentesque turpis mid. Nunc? Diam etiam tempor. Turpis? Sit mattis, aenean. Parturient, lorem! Aliquam! Montes hac phasellus scelerisque? Magnis montes platea lectus elit augue ut habitasse a integer scelerisque pulvinar porta mid.</p><p>Porttitor dapibus pid? Duis lacus, nunc, nisi sociis, augue! Ultrices placerat, aliquam ac! Quis lorem magna lacus nunc mus mus cum vel rhoncus. Nunc nec. Pulvinar in? Mid turpis proin aliquet a! Adipiscing et cursus hac velit enim nisi? Integer in, vel in vel! Magna adipiscing lundium sociis augue habitasse aliquam, dictumst pulvinar, porta tincidunt! Adipiscing parturient, augue ac odio adipiscing ac auctor.</p>
                    </div>
                </div>
            <!-- end .blog-item -->
        </div>
        <!-- end .section-blog -->

    </div>