<!-- start .footer -->
	<div class="span12 footer">
		<div class="row">
			<p><small>powered by <a href="#">ruby on rails</a>, <a href="#">twitter bootstrap</a>, <a href="#">nginx</a>, postgres and mongodb  <i class="icon-beaker"></i></small></p>
		</div>
	</div>
<!-- end .footer -->