<div id="wrap">
    <div id="main" class="container clear-top">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
          <h2>About Me</h2>
          I am a scrum master and agile evangelist currently working at Micros.
        </div>
      </div>
    </div>
</div>