<div class="container">
	<div class="row page-wrap">
        <%= render :partial=> 'layouts/messages' %>

        <% if user_signed_in? %>
          <%= render :partial=> 'layouts/nav_bar' %>
        <% end %>

        <%=	 yield %>
        <%= render :partial=> 'layouts/footer' %>
    </div>
</div>